/* style.css */

/* CSS Overrides */

html,
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #212121;
    color: white;
}

a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    display: inline;
    text-align: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 4px;
    background-color: #263238;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    color: white;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 0px 8px;
    outline: none;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

/* Custom Styles */

#view-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-frame,
#login-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 50%;
}

#register-frame form,
#login-frame form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

#register-frame form > .form-control,
#login-frame form > .form-control {
    padding: 5px;
}

#register-frame form > .form-control > *,
#login-frame form > .form-control > * {
    height: 24px;
}

#chat-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 20px;
    width: 50%;
}

#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #9c27b0;
    color: white;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#top-bar #user-info {
    margin-left: 10px;
}

#rooms {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: darkslategray;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#chat-frame .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#chat-frame .tabs .tab {
    width: calc(100% / 6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-frame .tabs .tab a {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    background: gray;
    margin: 5px;
}

#rooms .room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 10px 0;
}

#rooms .room>h2 {
    margin: 0;
}

#rooms .room .input {
    width: 100%;
}

#rooms .room .input form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#rooms .room .col-2 {
    display: flex;
    width: 100%;
}

#rooms .room .input input {
    width: 100%;
    padding: 3px;
    margin-right: 10px;
    background-color: #263238;
    color: white;
    margin-left: 8px;
}

#rooms .room .messages {
    width: 80%;
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    scrollbar-width: thin;
}

#rooms .room .messages .message {
    margin: 2px 10px 2px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#rooms .room .messages .message * {
    margin: 2px 6px 2px 0px;
}

#rooms .room .messages .message .author {
    font-weight: bold;
}

#rooms .room .messages .message .content {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#rooms .room .users {
    width: 20%;
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    scrollbar-width: thin;
}

#rooms .room .users .user {
    margin: 2px 10px 2px 10px;
    text-align: right;
}

button.control-create,
button.control-update,
button.control-submit {
    background-color: #66cdaa;
}

button.control-create:hover,
button.control-update:hover,
button.control-submit:hover {
    background-color: #00ff7f;
}

button.control-delete {
    background-color: #ff6347;
}

button.control-delete:hover {
    background-color: #ff4500;
}

.overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.htmx-indicator {
    display: none;
    opacity: 0;
    transition: opacity 333ms ease-in 1s; /* Apply transition with 1s delay */
}

.htmx-indicator > * {
    /* Target all child elements */
    opacity: 0; /* Start with them being fully transparent */
    transition: inherit; /* Inherit transition from parent */
}

.htmx-request.htmx-indicator {
    display: flex;
    opacity: 1; /* Make the parent visible */
}

.htmx-request.htmx-indicator > * {
    opacity: 1; /* Make children visible, inheriting the delay and transition */
}

/* Media Queries */

/* For mobile phones and tablets: */
@media only screen and (max-width: 768px) {
    #register-frame,
    #login-frame,
    #chat-frame {
        width: 100%;
    }
    #chat-frame .message .timestamp {
        display: none;
    }
}

/* For medium screens: */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #register-frame,
    #login-frame,
    #chat-frame {
        width: 80%;
    }
    #chat-frame .message .timestamp {
        display: none;
    }
}
