<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/htmx.js" defer></script>
        <script src="/static/js/sse.js" defer></script>
        <script src="/static/js/script.js" defer></script>
        <title>Chatty</title>
    </head>
    <body>
        <div id="view-frame">
            <div id="chat-frame">
                <div id="top-bar">
                    <div id="user-info" hx-get="/user" hx-trigger="load" hx-swap="innerHTML"></div>
                    <div id="user-logout">
                        <button hx-get="/logout" hx-trigger="click">x</button>
                    </div>
                </div>
                <!-- Rooms are HTML Tabs, lazy loaded -->
                <div id="rooms" class="tabs" hx-get="/rooms" hx-trigger="load" hx-swap="innerHTML" hx-indicator="#loading"></div>
            </div>
            <div id="loading" class="htmx-indicator overlay">
                <div>Loading...</div>
            </div>
            <div id="connection-error" class="htmx-indicator overlay">
                <div>Connection lost...</div>
            </div>
        </div>
    </body>
</html>
